@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

body {
	overflow-x: hidden;
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}