.container {
	width: 100%;
	height: auto;	
	margin-bottom: 90px;
}

.header {
	width: 100%;
	height: 170px;
	background-color: white;
	-webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.33);	
}

.logo {
	float: left;
	width: auto;
	height: 100%;
}

.logo-img {
	margin-top: 57px;
	margin-left: 57px;
	cursor: pointer;
}

.navigation {
	float: right;
	width: auto;
	height: 100%;
}

.navigation > ul {
	margin-top: 70px;
	margin-right: 40px;
}

.navigation > ul > li {
	display: inline-block;
}

.navigation > ul > li > a {
	padding: 0px 20px 0px 20px;
	font-family: Roboto-Regular;
	font-size: 13px;
	letter-spacing: .8px;
	color: #8c8b8b;
}

#active {
	font-family: Roboto-Bold;
	color: #004685;
}

.hero {
	width: 1280px;
	height: 480px;
	background-image: url(images/hero-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
}

.hero-content {
	float: left;
	width: 50%;
	height: 100%;
}

.hero-p {
	margin-left: 195px;
}

.hero-title {
	margin-top: 100px;
	font-family: Roboto-Bold;
	font-size: 36px;
	color: white;
	letter-spacing: 2.2px;
}

.hero-text {
	font-family: Roboto-Light;
	font-size: 14px;
	color: white;
	letter-spacing: 1.6px;
	line-height: 220%;
	margin-top: 32px;
}

.kursevi {
	width: 144px;
	height: 46px;
	background: white;
	margin-top: 32px;
	cursor: pointer;
	border: none;
	font-family: Roboto-Bold;
	font-size: 11px;
	color: #252525;
	letter-spacing: 1.4px;
}

.kursevi:focus { outline: none }

.scroll {
	position: absolute;
	top: 610px;
	left: 48%;
}


.box {
	width: 910px;
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	margin: 0 auto;
}

.emmett {
	height: 390px;
	margin-top: 75px;
}

.emmett .box-img {
	width: 486px;
	height: 100%;
	float: left;
}

.box-content {
	width: auto;
	height: 100%;
	float: left;
}

.box-title {
	margin-top: 38px;
	margin-left: 32px;
	font-family: Roboto-Bold;
	font-size: 14px;
	color: #2a2a2a;
	letter-spacing: 1px;
}

.box-text {
	margin-top: 25px;
	margin-left: 32px;
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #555555;
	letter-spacing: 1.2px;
	line-height: 290%;
}

.ross {
	height: 495px;
	margin-top: 45px;
}

.ross .box-img {
	float: right;
}

.kursevi-main {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 65px;
}

.kursevi-title {
	font-family: Roboto-Bold;
	font-size: 24px;
	color: #3d3d3d;
	letter-spacing: 1.4px;
}

.t-f { margin-left: 0px; margin-top: 15px; line-height: 240%; }
.line { margin-top: 20px; }

.kurs-holder {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 60px;
}

.kurs-box {
	width: 354px;
	height: 500px;
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	display: inline-block;
	margin: 0px 35px 0px 35px;
}

.box-header {
	width: 100%;
	height: 45px;
}

.kurs-no {
	float: left;
}

.small-title {
	float: left;
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #cacaca;
	letter-spacing: 1.4px;
	margin-top: 17px;
	margin-left: 20px;
}

.kurs-content {
	width: 100%;
	height: auto;
}

.kurs-name {
	text-align: left;
	margin-left: 20px;
	margin-top: 25px;
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #5e5e5e;
	letter-spacing: 1px;
	line-height: 210%;
}

.kurs-desc {
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
	font-family: Roboto-Regular;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 260%;
	color: #818181;
}

.adds {
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
	line-height: 220%;
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #5e5e5e;
	letter-spacing: 1px;
	display: inline-block;
	vertical-align: middle;
}

.a-1 {
	margin-left: -10px;
}

.a-2 {
	margin-left: 60px;
}

.kurs-b-2 {
	height: 440px;
}

.a-3 {
	margin-left: -15px;
}

.a-4 {
	margin-left: 30px;
}