.container {
	width: 100%;
	height: auto;	
	margin-bottom: 40px;
}

.header {
	width: 100%;
	height: 170px;
	background-color: white;
	-webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.33);	
}

.logo {
	float: left;
	width: auto;
	height: 100%;
}

.logo-img {
	margin-top: 57px;
	margin-left: 57px;
	cursor: pointer;
}

.navigation {
	float: right;
	width: auto;
	height: 100%;
}

.navigation > ul {
	margin-top: 70px;
	margin-right: 40px;
}

.navigation > ul > li {
	display: inline-block;
}

.navigation > ul > li > a {
	padding: 0px 20px 0px 20px;
	font-family: Roboto-Regular;
	font-size: 13px;
	letter-spacing: .8px;
	color: #8c8b8b;
}

#active {
	font-family: Roboto-Bold;
	color: #004685;
}

.hero {
	width: 100%;
	height: 480px;
	background-image: url(images/about-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0 auto;
	text-align: center;
}

.hero-content {
	width: 910px;
	height: 100%;
	margin: 0 auto;
}

.hero-p {

}

.hero-title {
	font-family: Roboto-Bold;
	font-size: 36px;
	color: white;
	letter-spacing: 2.2px;
	padding-top: 110px;
}

.hero-text {
	font-family: Roboto-Light;
	font-size: 16px;
	color: white;
	letter-spacing: .8px;
	line-height: 220%;
	margin-top: 42px;
}

.kursevi {
	transition: .25s;
	width: 144px;
	height: 46px;
	background: white;
	margin-top: 32px;
	cursor: pointer;
	border: none;
	font-family: Roboto-Bold;
	font-size: 11px;
	color: #252525;
	letter-spacing: 1.4px;
}

.kursevi:focus { outline: none }
.kursevi:hover {
	transition: .25s;
	width: 179px;
	height: 61px;
	font-size: 12.5px;
	letter-spacing: 1.8px;
}

.scroll {
	position: absolute;
	top: 610px;
	left: 48%;
}


.box {
	width: 910px;
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	margin: 0 auto;
}


.emmett {
	height: 370px;
	margin-top: 75px;
}

.analiza {
	height: 360px;
	margin-top: 40px;
}

.box-content {
	width: auto;
	height: 100%;
	float: left;
}

.box-title {
	margin-top: 34px;
	margin-left: 32px;
	font-family: Roboto-Bold;
	font-size: 14px;
	color: #2a2a2a;
	letter-spacing: 1px;
}

.box-text {
	margin-top: 25px;
	margin-left: 32px;
	font-family: Roboto-Regular;
	font-size: 13px;
	color: #555555;
	letter-spacing: .4px;
	line-height: 290%;
}

.ross {
	width: 800px;
	height: 510px;
	margin-top: 45px;
}

.ross .box-img {
	float: left;
}

.ross .box-img img {
	height: 510px;
}

.ross .box-title {
	margin-top: 60px;
}

.r-fix {
	margin-left: 40px;
}

.kursevi-main {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 65px;
}

.kursevi-title {
	font-family: Roboto-Bold;
	font-size: 24px;
	color: #3d3d3d;
	letter-spacing: 1.4px;
}

.t-f { margin-left: 0px; margin-top: 15px; line-height: 240%; }
.line { margin-top: 20px; }

.kurs-holder {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 60px;
}

.kurs-box {
	width: 354px;
	height: 500px;
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	display: inline-block;
	margin: 0px 35px 0px 35px;
}

.box-header {
	width: 100%;
	height: 45px;
}

.kurs-no {
	float: left;
}

.small-title {
	float: left;
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #cacaca;
	letter-spacing: 1.4px;
	margin-top: 17px;
	margin-left: 20px;
}

.kurs-content {
	width: 100%;
	height: auto;
}

.kurs-name {
	text-align: left;
	margin-left: 20px;
	margin-top: 25px;
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #5e5e5e;
	letter-spacing: 1px;
	line-height: 210%;
}

.kurs-desc {
	text-align: left;
	margin-left: 20px;
	margin-top: 15px;
	font-family: Roboto-Regular;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 260%;
	color: #818181;
}

.adds {
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
	line-height: 220%;
	font-family: Roboto-Bold;
	font-size: 13px;
	color: #5e5e5e;
	letter-spacing: 1px;
	display: inline-block;
	vertical-align: middle;
}

.a-1 {
	margin-left: -10px;
}

.a-2 {
	margin-left: 60px;
}

.kurs-b-2 {
	height: 440px;
}

.a-3 {
	margin-left: -15px;
}

.a-4 {
	margin-left: 30px;
}

.contact-holder {
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 40px;	
}

.contact-box {
	width: 285px;
	height: 117px;
	-webkit-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.33);
	display: inline-block;
	border-top: 3px solid #185790;
	margin: 0px 5px 0px 5px;
	cursor: pointer;
}

.c-large {
	width: 350px;
}

.contact-box .contact-img {
	float: left;
	margin-top: 42px;
	margin-left: 35px;
	vertical-align: middle;
	display: inline-block;
}

.contact-title {
	vertical-align: middle;
	display: inline-block;
	float: left;
	margin-top: 40px;
	margin-left: 25px;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #3e3e3e;
	letter-spacing: 1px;
	text-align: left;
}

.contact-title span {
	font-family: Roboto-Bold;
	font-size: 12px;
	color: #d9d9d9;
	letter-spacing: 1.4px;
}

.c-large img {
	padding-top: 5px;
}

.footer {
	width: 980px;
	height: 60px;
	margin: 0 auto;
	margin-top: 55px;
}

.footer-left {
	width: auto;
	height: 100%;
	float: left;
}

.footer-right {
	width: auto;
	height: 100%;
	float: right;
}

.footer-right > ul > li {
	display: inline-block;
}

.footer-right > ul > li > a {
	padding: 0px 25px 0px 25px;
	font-family: Roboto-Regular;
	font-size: 12px;
	letter-spacing: 1.2px;
	color: #8c8b8b;
}

.footer-right > ul > li >a:last-child {
	padding-right: 0px;
}


.logo-text {
	font-family: Roboto-Bold;
	color: #0c4e8b;
	font-size: 14px;
	letter-spacing: .7px;
}

.cr-text {
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #8f8f8f;
	letter-spacing: .7px;
	margin-top: 15px;
}

.craft {
	float: right;
	font-family: Roboto-Regular;
	font-size: 12px;
	color: #c8c8c8;
	letter-spacing: .7px;
}

.craft span > a{
	font-family: Roboto-Bold;
	color: #888787;
	margin-top: -10px;
}